In [2]:
# @hidden_cell

from project_lib import Project
project = Project.access()

DS16305912903780577_metadata = project.get_connection(name="DS16305912903780577")

import os, ibm_db, ibm_db_dbi as dbi, pandas as pd

DS16305912903780577_cert = os.path.join(os.path.expanduser('~'),'DS16305912903780577_ssl.cert')
f = open(DS16305912903780577_cert, "w")
f.write(DS16305912903780577_metadata['ssl_certificate'])
f.close()

DS16305912903780577_dsn = 'DATABASE={};HOSTNAME={};PORT={};PROTOCOL=TCPIP;UID={uid};PWD={pwd};SECURITY=SSL;SSLServerCertificate={cert}'.format(
    DS16305912903780577_metadata['database'],
    DS16305912903780577_metadata['host'],
    DS16305912903780577_metadata.get('port', 32051),
    uid=DS16305912903780577_metadata['username'],
    pwd=DS16305912903780577_metadata['password'],
    cert=DS16305912903780577_cert
)

DS16305912903780577_connection = dbi.connect(DS16305912903780577_dsn)
   
# NOTE:
#  A row limit has been applied to the query to enable sample previewing.
#  Adjust the display message and query as needed by editing the following lines:
from IPython.core.display import display, HTML
display(HTML("A row limit of 5000 has been applied to the query to enable sample previewing. If the data set is larger, only the first 5000 rows will be loaded."))
query = 'SELECT * FROM "ADMIN"."TELCO_CUSTOMER_CHURN" FETCH FIRST 5000 ROWS ONLY'

data_df_1 = pd.read_sql_query(query, con=DS16305912903780577_connection)
data_df_1.head()

# After use, close the database connection with the following code:
# DS16305912903780577_connection.close()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

AttributeError: 'DataFrame' object has no attribute 'printSchema'

In [19]:
df_complete=data_df_1.dropna

AttributeError: 'function' object has no attribute 'count'

In [12]:
data_df_1.groupby('Churn').count()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
Churn,,,,,,,,,,,,,,,,,,,,
No,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3687,3679
Yes,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313

In [17]:
(train_data, test_data, predict_data) = df_complete.randomSplit([0.8, 0.18, 0.02], 24)

print("Number of records for training: " + str(train_data.count()))
print("Number of records for evaluation: " + str(test_data.count()))
print("Number of records for prediction: " + str(predict_data.count()))

AttributeError: 'function' object has no attribute 'randomSplit'